@{
	ViewData["Title"] = "Error";
}

<div class="text-center">
	<h1 class="text-danger text-center fw-bold">ERROR</h1>
	<h2 class="text-danger text-center">An error occurred while processing your request ! You may not have the right rights.</h2>
	<h3>Contact the system admnistrator for more details.</h3>
</div>
