<div>
	<h3 class="align-content-center">
		The link has been sent, please check your email to reset your password.
	</h3>
	<div>
		<a asp-controller="Home" asp-action="Index">Return to Home</a>
	</div>
</div>
